<div>
    <div [ngSwitch]="selectedCategory">
        <div *ngSwitchCase="'Lettering'"><text-designs></text-designs></div>
        <div *ngSwitchCase="'Cross'"><folcklor-designs></folcklor-designs></div>
        <div *ngSwitchCase="'Photo'"><photo-designs></photo-designs></div>
        <div *ngSwitchCase="'Adobe'"><adobe-designs></adobe-designs></div>
    <!--    <div *ngSwitchCase="'Product_list'"><product-list></product-list></div>
        <div *ngSwitchCase="'Histogram_plot'"><histogram-plot></histogram-plot></div>-->
    </div>
</div>
