<div>
  <ol class="breadcrumb">
    <!--    <li class="breadcrumb-item">
    <a [routerLink]="['/wrapper/store', selectedCategory]"> Store </a>
  </li> -->
    <li class="breadcrumb-item" *ngFor="let item of this.navigServ.breadcrumbList"
        [class.active]="i===this.navigServ.breadcrumbList.length-1">
      <a [routerLink]="item.path" *ngIf="i!==this.navigServ.breadcrumbList.length-1">
        {{ item.name }}
      </a>
    </li>
  </ol>

</div>

<div>
  <router-outlet></router-outlet>
</div>
