<div style="font-family:verdana">
    Здравейте. Предлагаме проектиране на файлове за машинна бродерия
    във формат Tajima(dst).Софтуерът/софтуерите за проектиране са собствена разработка.
    Можете да разгледате готови проекти в следните категории:
    <p></p>
    <h5 class="text-info">Текст</h5> <p> Проектиране на бродерии с надписи, подходящи за празнинства, или други събития </p>
    <h5 class="text-info">Фолк/кръстат бод</h5> <p>
        Проектиране на  бродерии с кръстат(cross stitch), бод подходящ за фолклорни мотиви,
        или други арт дизайни.
    </p>
    <h5 class="text-info">Фото</h5> <p>Проектиране на бродерии с фото(photo stith) бод, подходящ за подаръци в рамки.</p>
    <h5 class="text-info">AI</h5> <p>
        Готови проекти създадени след автоматично конвертиране на
        ADOBE ILLUSTRATOR файл в машинна бродерия от контури.
    </p>
    <p>Във всяка категирия има примерен файл който можете да свалите, разгледате и бродирате.</p>
</div>
