<header>
    <div class="row" style="height: 100px; background-color: #0094ff">
        <div class="col-lg-10 float-left">
          <img src="images/header.png" style="max-width: 100%" />
        </div>
      <!--  <div class="col-lg-2"> 
            <div style= "height: 50px;
                         margin-top:20px;margin-right:10px;
                         color: #ffffff;
                         background-color: #303030">
                User: 90ab
            </div>
            
        </div>-->
    </div>

    <nav id="navbar_top" class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand"
                [routerLink]="getNavigation()">
                HREMBROS
            </a>
            <!-- <a style="color: #fff; text-decoration: none" [routerLink]="['/admin']">Админ</a> -->
            <a style="color: #fff; text-decoration: none" [routerLink]="['/contacts']">Контакти</a>
        </div>
    </nav>

</header>
<router-outlet></router-outlet>


