<div class="container" style="font-family:verdana">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Мотиви с надписи във формат Tajima/dst </h4>
        </div>

        <div class="panel-body">
            <p>
                Предлагаме проектиране на файлове за машинна бродерия
                съдържащи надписи от различни шрифтове, по различна форма.
            </p>

            <div>
                <h5>
                    <strong>Примерен проект с надпис</strong>
                </h5>
                <div class="row">
                    <div style="margin: auto">
                        <img src="images/lettering_emb_app.jpg" alt="Софтуер за машинна бродерия" />
                    </div>
                </div>

                <div class="text-right" style="margin-top:10px">
                    <!--  <a [routerLink]="['/designs', selectedCategory]">
                      <span class="badge badge-info">Към галерия с готови проекти</span>
                    </a> -->
                    <button type="button" class="btn btn-info" (click)="btnClick();">
                        Към галерия с готови проекти ->
                    </button>
                </div>

                <div class="row" style="margin-top: 20px">
                    Надписите или текстовете са само една част от възможностите на софтуера.Той има няколко базови обекти
                    (base shapes as: outline, column, poligon, progrаmmаble user stitch, etc), които му дават възможност за
                    проектиране на файлове за машинна бродерия и на други, не само текстови бродерии.
                </div>
            </div>
    </div>
</div>
