<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Готови проекти за машинна бродерия/машинно бродиране в Tajima(dst) формат, Дизайн програми за машинна бродерия">
    <meta name="keywords" content="машинна, бродерия, софтуер, tajima.dst, Дизайн програма за машинна бродерия, фолклор, портрети, adobe illustrator, проекти">
    <title>Проекти за машинна бродерия/бродиране @ViewData["Title"]</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/lib/spinner/spinnert.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="~/lib/datatable/jquery.dataTables.css" />
    <!-- <link rel="stylesheet" href="/css/styles.css" /> -->
    <!--    <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/datatable/jquery.dataTables.js"></script>-->

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <meta name="google-site-verification" content="1B7fnfCf7BTgs6S854zsm6AWdc8dPEdQJS7gP5XAOiw" />
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.addEventListener('scroll', function () {
            if (window.scrollY > 100) {
                var nav = document.getElementById('navbar_top')
                navbar_height = document.querySelector('.navbar').offsetHeight;
                nav.classList.add('fixed-top');
                // add padding top to show content behind navbar
                document.body.style.paddingTop = navbar_height + 'px';
            } else {
                document.getElementById('navbar_top').classList.remove('fixed-top');
                // remove padding top from body
                document.body.style.paddingTop = '0';
            }
        });
    });
</script>

</html>
